[run]
omit =
    /fitbenchmarking/utils/fitbm_problem.py
    /fitbenchmarking/utils/ftibm_result.py
    /fitbenchmarking/fitting/plotting/*
    /fitbenchmarking/utils/logging_setup.py
    /fitbenchmarking/utils/user_input.py
    /fitbenchmarking/resproc/visual_pages.py
    /fitbenchmarking/resproc/parse.py


[report]
omit =
    *__init__*
    *test_*
