[run]
omit =
    */tests/*
    /fitbenchmarking/cli/main.py

; Run in parallel mode so that coverage can canonicalize the source paths
; regardless of whether it runs locally or within a Docker container.
; parallel = True

[paths]
; the first path is the path on the local filesystem
; the second path is the path as it appears within the Docker container
source =
  fitbenchmarking/
  /home/fitbenchmarking/fitbenchmarking/

[report]
omit =
    *__init__*
    */test_*
    /fitbenchmarking/cli/main.py
    
    # Omit results for matlab dependent code as it's not run in standard
    # testing
    */matlab_mixin.py
    */matlab*_controller.py
    */horace_controller.py
    */horace_parser.py
    */matlab_engine.py
