[run]
omit =
    /fitbenchmarking/utils/fitbm_problem.py
    /fitbenchmarking/utils/ftibm_result.py
    /fitbenchmarking/utils/logging_setup.py
    /fitbenchmarking/utils/user_input.py

    /fitbenchmarking/resproc/visual_pages.py
    /fitbenchmarking/resproc/parse.py

    /fitbenchmarking/fitting/plotting/*
    /fitbenchmarking/fitting/prerequisites.py
    /fitbenchmarking/fitting/externals.py


[report]
omit =
    *__init__*
    *test_*
