[DESIGN]

# Maximum number of locals for function / method body
max-locals=30

# Maximum number of lines within a function
max-statements=60

# Certain functions require more arguments due to design
max-args=10

# Ignores pylint errors for args and kwargs
ignored-argument-names=arg|args|kwargs

[MESSAGES CONTROL]
disable=too-many-instance-attributes,
        invalid-name,
        too-few-public-methods

[IMPORTS]
ignored-modules=mantid,
                ral-nlls
