[MESSAGES CONTROL]
disable=too-many-instance-attributes,
        invalid-name,
        too-few-public-methods,
        no-self-use,
        too-many-locals,
        too-many-branches,
        too-many-statements
