sudo: required
language: python, c
python:
  - "2.7"
dist: xenial
virtualenv:
  system_site_packages: true


stages:
  - name: Tests
  - name: SysTests
    if: type = cron

before_install:
  - sudo apt-get update
  - sudo apt-get install gfortran
  - sudo apt-get install lcov
  - sudo apt-get install libblas-dev
  - sudo apt-get install liblapack-dev
  - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O
    miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b
  - conda update --yes conda
  - conda install --yes python=$TRAVIS_PYTHON_VERSION numpy scipy matplotlib
    h5py yaml ipython

install:
  - pip install -r requirements.txt
  - python setup.py install
  - python setup.py externals
  - python -m easy_install --upgrade pyOpenSSL

script:
  - python --version
  - ./makebuild.sh
  - ./makecov.sh

jobs:
  include:
    - stage: Tests
      before_script: mantidpython -m mantid.simpleapi || true
      script:
        # ======= Examples Tests =============== #
        - pytest example_scripts/ --cov=example_scripts/
          --cov-report term-missing
        # ======= Fitting Tests =============== #
        - pytest fitbenchmarking/fitting/ --cov=fitbenchmarking/fitting/
          --cov-report term-missing
        # ======= Parsing Tests =============== #
        - pytest fitbenchmarking/parsing/tests/ --cov=fitbenchmarking/parsing/
          --cov-report term-missing --cov-append
        # ======= Result Processing Tests =============== #
        - pytest fitbenchmarking/resproc/tests/
          --cov=fitbenchmarking/resproc --cov-report term-missing
          --cov-append
        # ======= Utils Tests =============== #
        - pytest fitbenchmarking/utils/tests/ --cov=fitbenchmarking/utils/
          --cov-report term-missing --cov-append
      after_success:
        - coveralls
    - stage: SysTests
      before_script: mantidpython -m mantid.simpleapi || true
      script:
        # ======= System Test =============== #
        - cd systests
        - mantidpython generate_current_results.py
        - mantidpython tbl_comparison.py
