sudo: required
language: python
python:
  - "2.7"
dist: trusty
virtualenv:
  system_site_packages: true


stages:
  - name: Tests
  - name: SysTests
    if: type = cron

before_install:
  - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O
    miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b
  - conda update --yes conda
  - conda install --yes python=$TRAVIS_PYTHON_VERSION numpy scipy matplotlib
    h5py yaml ipython
install:
  - pip install -r requirements.txt
  - python setup.py install
  - python setup.py externals

jobs:
  include:
    - stage: Tests
      before_script: mantidpython -m mantid.simpleapi || true
      script:
        # ======= Fitting Tests =============== #
        - pytest fitbenchmarking/fitting/tests/ --cov=fitbenchmarking/fitting/
          --cov-report term-missing
        # ======= Parsing Tests =============== #
        - pytest fitbenchmarking/parsing/tests/ --cov=fitbenchmarking/parsing/
          --cov-report term-missing --cov-append
        # ======= Result Processing Tests =============== #
        - pytest fitbenchmarking/resproc/tests/
          --cov=fitbenchmarking/resproc --cov-report term-missing
          --cov-append
        # ======= Utils Tests =============== #
        #- pytest fitbenchmarking/utils/tests/ --cov=fitbenchmarking/utils/
        #  --cov-report term-missing --cov-append
      after_success:
        - coveralls
    - stage: SysTests
      before_script: mantidpython -m mantid.simpleapi || true
      script:
        # ======= System Test =============== #
        - mantidpython systests/generate_current_results.py
        - ls systests/
        - ls systests/results
        - ls systests/neutron/tables
        - mantidpython systests/tbl_comparison.py
