.btn {
    background-color: #75D0C7;
}

body {
    background-color:#4D90BA;
}

div.container {
    max-width: none;
    width: max-content;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}