.btn {
    background-color: #75D0C7;
}

body {
    background-color:#4D90BA;
}

div.container {
    max-width: max-content;
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
