table {
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid black;
  height: min-content;
  width: auto;
}
th a, td a {
  display:block;
  text-decoration:none;
  color: rgb(30, 30, 30);
  height: 100%;
  width: 100%;
}

body {
  margin: 25px;
}
