body {
    background-color:#2e2f31;
}

div.container {
  max-width: -moz-max-content;
  max-width: -webkit-max-content;
  max-width: max-content;
  width: 80%;
  padding: 70px;
  margin-top: 10px;
  margin-bottom: 10px;
}

div.container img {
  width: auto;
  height: 100px;
  align-self: center;
}

div.row {
  text-align: left;
}

a {
  text-decoration: none;
}


.accordion > input[type="checkbox"] {
  position: absolute;
  left: -100vw;
}

.accordion .content {
  overflow-y: hidden;
  height: 0;
  transition: height 0.3s ease;
}

.accordion > input[type="checkbox"]:checked ~ .content {
  height: auto;
  overflow: visible;
}

.accordion label {
  display: block;
}

.accordion .handle {
  margin: 0;
  font-size: 1em;
  line-height: 1em;
}

.accordion label {
  color: #333;
  cursor: pointer;
  font-weight: normal;
  padding: 10px;
  background: #e8e8e8;
}

.accordion .handle label:before {
  font-family: 'fontawesome';
  content: "\f054";
  margin-right: 10px;
  font-size: .58em;
  line-height: 1em;
  vertical-align: middle;
}

.checkbox_container {
  background: white !important;
  display: inline !important;
  cursor: pointer;
  border: 1px solid #ccc;
  zoom: 0.99;
}

.pill {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #e0e0e0;
  color: #333;
  font-size: 0.9em;
}

.info-box {
  background-color: #e9f4f5;
  padding: 15px 20px;
  border-radius: 8px;
  border: 1px solid #c3caca;
  color: #333;
  max-width: 800px;
  margin: 20px auto;
}

.error-table {
  width: 60%;
  text-align: center;
}

.error-table th {
  background-color: #282828;
  color: white;
}

.error-table .even-row {
  background-color: #f2f2f2;
}

.error-table .odd-row {
  background-color: #ffffff;
}

.simple-table {
  width: 100%;
  text-align: center;
}

.simple-table th {
  background-color:#66686b;
  color: white;
}
