table {
  position: relative;
  border-collapse: separate;
  border-spacing: 0;
  border: white;
  margin: auto;
  z-index: 0;
}

thead {
  top: 0;
  position: sticky;
  z-index: 100;
  background-color: #fff;
}

tbody th {
  left: 0;
  position: sticky;
  z-index: 50;
  background-color: #fff;
}

thead tr th.blank.level0, thead tr th.blank.level1, thead tr th.blank.level2 {
  left: 0;
  z-index: 150;
  border-left: 0px;
  border-top: 0px;
}

thead tr th.blank.level0, thead tr th.blank.level1 {
  border-bottom: 0px;
}

th, td {
  border: 1px solid black;
  overflow: hidden;
}

th a, td a {
  display: block;
  color: rgb(30, 30, 30);
  margin: -10em;
  padding: 10em;
}

div.table{
  max-height:800px;
  max-width: max-content;
  width: 90%;
  overflow: auto;
  padding: 0px;
}

td a:link {
  color:#fff
 }
td a:visited {
  color:#fff
 }
td a:hover {
  color:rgba(255, 255, 255, 0.5)
 }
td a:active {
  transition:color .3s;
  color:rgba(255, 255, 255, 0.5)
 }