table {
  position: relative;
  border-collapse: separate;
  border-spacing: 0;
  border: white;
  margin: auto;
  z-index: 0;
}

thead {
  top: 0;
  position: sticky;
  z-index: 100;
  background-color: #fff;
}

th {
  left: 0;
  position: sticky;
  z-index: 50;
  background-color: #fff;
}

thead tr th.blank.level0, thead tr th.blank.level1, thead tr th.blank.level2 {
  left: 0;
  z-index: 150;
  border-left: 0px;
  border-top: 0px;
  position: relative;
}

thead th.blank {
  left: 0;
  z-index: 160;
  border: 0px;
  position: sticky;
}

th:nth-child(1){
  position: sticky;
  left: 0;
}

th:nth-child(2){
  position: relative;
  z-index: 10;
}

th, td {
  border: 1px solid black;
  overflow: hidden;
}

th a, td a {
  display: block;
  color: rgb(30, 30, 30);
  white-space: nowrap;
}

div.table{
  max-height:800px;
  max-width: max-content;
  width: 90%;
  overflow: auto;
  padding: 0px;
}

td a.light:link {
  color:#fff
 }
td a.light:visited {
  color:#fff
 }
td a.light:hover {
  color:rgb(255, 255, 255);
  font-weight: bold;
 }
td a.light:active {
  transition:color .3s;
  color:rgba(255, 255, 255, 0.8)
 }

td a.dark:link {
  color:#000
 }
td a.dark:visited {
  color:#000
 }
td a.dark:hover {
  color:rgb(0, 0, 0);
  font-weight: bold;
 }
td a.dark:active {
  transition:color .3s;
  color:rgba(0, 0, 0, 0.8)
 }