table {
  border-collapse: collapse;
  border-collapse: separate;
  border-spacing: 0;
  margin: auto;
}

thead {
  top: 0;
  position: sticky;
  z-index: 100;
  background-color: #fff;
}

tbody th {
  left: 0;
  position: sticky;
  z-index: 50;
  background-color: #fff;
}

table, th, td {
  border: 1px solid black;
}

th a, td a {
  display: block;
  color: rgb(30, 30, 30);
  margin-top: -10em;
  margin-bottom: -10em;
  padding-top: 10em;
  padding-bottom: 10em;
}

div.table{
  max-height:800px;
  max-width: max-content;
  width: 90%;
  overflow: auto;
  padding: 0px;
}

td a:link {
  color:#fff
 }
td a:visited {
  color:#fff
 }
td a:hover {
  color:rgba(255, 255, 255, 0.5)
 }
td a:active {
  transition:color .3s;
  color:rgba(255, 255, 255, 0.5)
 }