# Build and push containers to ghcr.io
name: 'Update Containers'

on:
  push:
    branches:
      - 'master'
    paths:
      - 'Containers/**'
  pull_request:
    branches:
      - 'master'
    paths:
      - 'Containers/**'
  workflow_dispatch:

env:
  IMAGE_REGISTRY: ghcr.io/${{ github.repository_owner }}

jobs:
  build:
    if: github.event.repository.fork == false
    name: Build the containers
    runs-on: ubuntu-24.04

    strategy:
      matrix:
        container: ['full-tests', 'mantid-tests']
  
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Log in to the Container registry
      uses: redhat-actions/podman-login@v1
      with:
        registry: ${{ env.IMAGE_REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build ${{ matrix.container }} container
      id: build-image
      uses: redhat-actions/buildah-build@v2
      with:
        containerfiles: |
          Containers/${{ matrix.container }}/Containerfile
        context: Container/${{ matrix.container }}
        image: fitbenchmarking-extras-${{ matrix.container }}
        tags: latest
    
    - name: Push ${{ matrix.container }} to ghcr.io
      if: github.event_name == 'push'
      uses: redhat-actions/push-to-registry@v2
      with:
        image: ${{ steps.build-image.outputs.image }}
        tags: ${{ steps.build-image.outputs.tags }}
        registry: ${{ env.IMAGE_REGISTRY }}

