# Build and push a container to ghcr.io
name: 'Update Container'

on:
  push:
    branches:
      - 'master'
    paths:
      - 'Container/**'
  pull_request:
    branches:
      - 'master'
    paths:
      - 'Container/**'
  workflow_dispatch:

env:
  IMAGE_REGISTRY: ghcr.io/${{ github.repository_owner }}

jobs:
  build:
    name: Build the container
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Log in to the Container registry
      uses: redhat-actions/podman-login@v1
      with:
        registry: ${{ env.IMAGE_REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build container
      id: build-image
      uses: redhat-actions/buildah-build@v2
      with:
        containerfiles: |
          - 'Container/Containerfile'
        image: fitbenchmarking-extras
        tags: latest
    
    - name: Push to ghcr.io
      if: github.event_name == 'push'
      uses: redhat-actions/push-to-registry@v2
      with:
        image: ${{ steps.build-image.outputs.image }}
        tags: ${{ steps.build-image.outputs.tags }}
        registry: ${{ env.IMAGE_REGISTRY }}

