name: 'Tests'

on:
  push:
    branches:
      - 'master'
      - 'release-**'
  pull_request:
    branches:
      - 'master'
      - 'release-**'
  schedule:
    - cron: '0 9 * * Mon'
  workflow_dispatch:

jobs:
  default_system_linux:
    name: 'Default System Tests (Linux)'
    runs-on: 'ubuntu-latest'
    container:
      image: 'fitbenchmarking/fitbenchmarking-deps:latest'
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Installing
      run: |
        sudo -HE --preserve-env=PATH $VIRTUAL_ENV/bin/pip install -r requirements.txt
        sudo -HE --preserve-env=PATH $VIRTUAL_ENV/bin/pip install .[bumps,DFO,minuit,SAS]
    - name: 'Running Tests'
      run: |
        ci/system_tests_default.sh
  
  full_system_linux:
    name: 'Full Sysytem Tests (Linux)'
    runs-on: 'ubuntu-latest'
    container:
      image: 'fitbenchmarking/fitbenchmarking-extras:latest'
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Installing
      run: |
        sudo -HE --preserve-env=PATH $VIRTUAL_ENV/bin/pip install -r requirements.txt
        sudo -HE --preserve-env=PATH $VIRTUAL_ENV/bin/pip install .[bumps,DFO,minuit,SAS]
        mkdir -p $MASTSIF
        mkdir -p $PYCUTEST_CACHE
    - name: 'Running Tests'
      run: |
        ci/system_tests.sh
  
  default_unit_linux:
    name: 'Default Unit Tests (Linux)'
    runs-on: 'ubuntu-latest'
    container:
      image: 'fitbenchmarking/fitbenchmarking-deps:latest'
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Installing
      run: |
        sudo -HE --preserve-env=PATH $VIRTUAL_ENV/bin/pip install -r requirements.txt
        sudo -HE --preserve-env=PATH $VIRTUAL_ENV/bin/pip install .[bumps,DFO,minuit,SAS]
    - name: 'Running Tests'
      run: |
        ci/unit_tests_default.sh
        
  full_unit_linux:
    name: 'Full Unit Tests (Linux)'
    runs-on: 'ubuntu-latest'
    container:
      image: 'fitbenchmarking/fitbenchmarking-extras:latest'
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Installing
      run: |
        sudo -HE --preserve-env=PATH $VIRTUAL_ENV/bin/pip install -r requirements.txt
        sudo -HE --preserve-env=PATH $VIRTUAL_ENV/bin/pip install .[bumps,DFO,minuit,SAS]
        mkdir -p $MASTSIF
        mkdir -p $PYCUTEST_CACHE
    - name: 'Running Tests'
      run: |
        ci/unit_tests.sh
    - name: 'Submit Coverage'
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
  
  default_unit_windows:
    name: 'Default Unit Tests (Windows)'
    runs-on: 'windows-latest'
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: 'Choose Python Version'
      uses: actions/checkout@v2
      with:
        python-version: '3.6'
    - name: Installing
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install .[bumps,DFO,minuit,SAS]
    - name: 'Running Tests'
      run: |
        bash ci/unit_tests_default.sh
