name: 'Tests'

on:
  push:
    branches:
      - 'master'
      - 'release-**'
  pull_request:
    branches:
      - 'master'
      - 'release-**'
  release:
    types: [published]
  schedule:
    - cron: '0 9 * * Mon'
  workflow_dispatch:

jobs:
  default_system_linux:
    name: 'Default System Tests (Linux)'
    runs-on: 'ubuntu-latest'
    container:
      image: 'fitbenchmarking/fitbenchmarking-deps:latest'
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Installing
      run: |
        sudo -HE --preserve-env=PATH $VIRTUAL_ENV/bin/pip install .[bumps,DFO,gofit,minuit,SAS,numdifftools]
        sudo -HE --preserve-env=PATH $VIRTUAL_ENV/bin/pip install -r requirements.txt
    - name: 'Running Tests'
      run: |
        ci/system_tests_default.sh
    - name: 'Upload Test Results'
      if: always()
      uses: actions/upload-artifact@v3
      with:
        path: test-results/default_system_pytest.xml

  full_system_linux:
    name: 'Full System Tests (Linux)'
    runs-on: 'ubuntu-latest'
    container:
      image: 'fitbenchmarking/fitbenchmarking-extras:latest'
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Installing
      run: |
        sudo -HE --preserve-env=PATH $VIRTUAL_ENV/bin/pip install .[bumps,DFO,gofit,levmar,minuit,SAS,numdifftools]
        sudo -HE --preserve-env=PATH $VIRTUAL_ENV/bin/pip install -r requirements.txt
        mkdir -p $MASTSIF
        mkdir -p $PYCUTEST_CACHE
    - name: 'Running Tests'
      run: |
        ci/system_tests.sh
    - name: 'Upload Test Results'
      if: always()
      uses: actions/upload-artifact@v3
      with:
        path: test-results/full_system_pytest.xml

  default_unit_linux:
    name: 'Default Unit Tests (Linux)'
    runs-on: 'ubuntu-latest'
    container:
      image: 'fitbenchmarking/fitbenchmarking-deps:latest'
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Installing
      run: |
        sudo -HE --preserve-env=PATH $VIRTUAL_ENV/bin/pip install .[bumps,DFO,gofit,gradient_free,minuit,SAS,numdifftools]
        sudo -HE --preserve-env=PATH $VIRTUAL_ENV/bin/pip install -r requirements.txt
        sudo -HE --preserve-env=PATH $VIRTUAL_ENV/bin/pip install https://www.astro.rug.nl/software/kapteyn/kapteyn-3.0.tar.gz
    - name: 'Running Tests'
      run: |
        ci/unit_tests_default.sh
    - name: 'Upload Test Results'
      if: always()
      uses: actions/upload-artifact@v3
      with:
        path: test-results/default_unit_pytest.xml

  full_unit_linux:
    name: 'Full Unit Tests (Linux)'
    runs-on: 'ubuntu-latest'
    container:
      image: 'fitbenchmarking/fitbenchmarking-extras:latest'
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Installing
      run: |
        sudo -HE --preserve-env=PATH $VIRTUAL_ENV/bin/pip install .[bumps,DFO,gofit,gradient_free,levmar,minuit,SAS,numdifftools]
        sudo -HE --preserve-env=PATH $VIRTUAL_ENV/bin/pip install -r requirements.txt
        mkdir -p $MASTSIF
        mkdir -p $PYCUTEST_CACHE
    - name: 'Running Tests'
      run: |
        ci/unit_tests.sh
    - name: 'Submit Coverage'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        coveralls --service=github
    - name: 'Upload Test Results'
      if: always()
      uses: actions/upload-artifact@v3
      with:
        path: test-results/full_unit_pytest.xml

  linting_linux:
    name: 'Linting Tests (Linux)'
    runs-on: 'ubuntu-latest'
    steps:
    - name: 'Checkout code'
      uses: actions/checkout@v3
    - name: 'Choose Python Version'
      uses: actions/setup-python@v4
      with:
        python-version: '3.8'
    - name: 'Installing'
      run: |
        python -m pip install --upgrade pip==20.0.2
        python -m pip install --upgrade wheel
        pip install .[bumps,DFO,gofit,gradient_free,minuit,SAS,numdifftools]
        pip install -r requirements.txt
        sudo apt-get install libgsl-dev
        pip install pygsl
        pip install pycutest
        pip install dill
        pip install https://www.astro.rug.nl/software/kapteyn/kapteyn-3.0.tar.gz
    - name: 'Run Linting'
      run: |
        ci/linting_tests.sh

  default_unit_windows:
    name: 'Default Unit Tests (Windows)'
    runs-on: 'windows-latest'
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: 'Choose Python Version'
      uses: actions/setup-python@v4
      with:
        python-version: '3.8'
    - name: Installing
      run: |
        python -m pip install --upgrade pip
        python -m pip install wheel
        python -m pip install .[bumps,DFO,gofit,gradient_free,minuit,SAS,numdifftools]
        python -m pip install -r requirements.txt
    - name: 'Running Tests'
      run: |
        bash ci/unit_tests_default.sh

  publish-test-results:
    name: 'Publish Test Results'
    needs: [default_system_linux, full_system_linux, default_unit_linux, full_unit_linux]
    runs-on: 'ubuntu-latest'
    if: always()
    steps:
      - name: 'Download Artifacts'
        uses: actions/download-artifact@v3
        with:
          path: artifacts

      - name: 'Publish Test Results'
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          check_name: 'Unit & System Test Results'
          files: artifacts/**/*.xml
