name: 'Nightly Build'

on:
  schedule:
    - cron: '0 0 * * *'

jobs:
  release_install_linux:
    name: 'Release Install Test (Linux)'
    runs-on: 'ubuntu-latest'
    steps:
    - name: 'Choose Python Version'
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
        check-latest: true
    - name: Installing
      run: |
        python -m pip install --upgrade pip
        python -m pip install fitbenchmarking[bumps,DFO,minuit,SAS]

  release_install_windows:
    name: 'Release Install Test (Windows)'
    runs-on: 'windows-latest'
    steps:
    - name: 'Choose Python Version'
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
        check-latest: true
    - name: Installing
      run: |
        python -m pip install --upgrade pip
        python -m pip install fitbenchmarking[bumps,DFO,minuit,SAS]
